<% content_for :head do -%>
  <%= stylesheet_link_tag 'home_page.css' %>
<% end %>


<div id='left_side_panel' class='span-6 last'>
&nbsp;
</div>

<div class="background_image">
  <%= image_tag 'forrest.png' %>
</div>

<div class="header white-block">
  <%= image_tag 'logos/logo.png', :alt => "#{@company_name}", :style =>'display:block' %>
  <table class="products">
  <tbody>
    <% @product_types.in_groups_of(3).each do |group| %>
      <tr>
        <% group.each do |product| %>
          <td>
            <%= link_to_unless_current product.name.capitalize.pluralize, products_path(:product_type_id => product.id) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<div id='featured_item' class='span-18 last'>
</div>

